#contents {
  width: 80%;
  margin: 40px auto;
}
header, footer {
  background-color: #6b4aad;
}
#container  {
  background-color: #abbddb;
  display: flex;
}
nav {
  width: 20%;
  background-color: #d8d168;
}
main {
  width: 80%;
  background-color: #ce68d8;
}
